.collection-display {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.collection-display h1 {
    margin-top: 40px;
    font-weight: 500;
    color: #262626;
}
.collection-display p1 {
    
    color: gray;
}



.collection-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    margin-top: 30px;
    row-gap: 50px;
}

.disease-item {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.disease-item:hover {
    transform: translateY(-5px);
}

.disease-item-img-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Aspect ratio 4:3 */
    overflow: hidden;
    border-radius: 20px;
}

.disease-item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.disease-item-info {
    padding: 20px;
}

.disease-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.disease-item-name-rating p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.disease-item-desc {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

.disease-item-case-count {
    font-size: 1rem;
    font-weight: 500;
    color: #444;
}