.remedy-list-container {
    padding: 20px;
    margin-left: 100px;
    margin-top: 100px;
}

.search-bar-container {
    margin-right: 530px;
    margin-bottom: 20px;
    text-align: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.header-container .MuiTypography-root {
    color: #28a745; 
    font-weight: bold; 
    text-align: center;
    flex: 1; 
}

.add-remedy-button {
    color: #28a745; 
}

.remedy-list {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.remedy-list-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #f9f9f9;
}

.remedy-list-item:hover {
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.remedy-list-image-container {
    flex-shrink: 0;
    margin-right: 20px;
}

.remedy-list-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.remedy-list-no-image {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 20px;
}

.remedy-list-info {
    flex-grow: 1;
}

.remedy-list-title {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.remedy-list-text {
    color: #555;
}

.remedy-list-action {
    margin-left: auto;
}

.remedy-list-button {
    text-transform: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    padding: 6px 12px;
    transition: background-color 0.3s ease;
}

.remedy-list-button:hover {
    color: #0056b3;
}
