.update-disease {
   width: 70%;
   margin-left: max(5vw, 25px);
   margin-top: 50px;
   color: #6d6d6d;
   font-size: 16px;
}

.update-disease form {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.update-disease h2{
   color: rgb(101, 100, 100);
}

.update-disease input[type="text"],
.update-disease input[type="number"],
.update-disease input[type="file"],
.update-disease button {
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #ddd;
   font-size: 16px;
}

.update-disease input[type="file"] {
   padding: 5px; /* Optional for file input */
}

.update-disease button {
   max-width: 120px;
   border: none;
   background-color: rgb(101, 100, 100);
   color: white;
   cursor: pointer;
   transition: background-color 0.3s;
}

.update-disease button:hover {
   background-color: gray; /* Change button color on hover */
}

.update-disease p {
   color: #666;
}

.update-disease .image-preview {
   color: green;
}

/* Styles for the slider */
.severity-slider {
   -webkit-appearance: none;
   width: 25%; /* Set the width to 25% */
   height: 8px;
   border-radius: 5px;
   background: #ddd;
   outline: none;
   opacity: 0.7;
   transition: opacity 0.2s;
   margin: 10px 0; /* Optional: Adds some space above and below the slider */
}

.severity-slider::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background: #6d6d6d;
   cursor: pointer;
}

.severity-slider::-moz-range-thumb {
   width: 25px;
   height: 25px;
   border-radius: 50%;
   background: #4caf50;
   cursor: pointer;
}

/* Styles for the select dropdown */
.update-disease select {
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #ddd;
   font-size: 16px;
   background-color: white; /* Background color */
   color: #333; /* Text color */
   transition: border-color 0.3s; /* Smooth transition for border color */
   cursor: pointer; /* Change cursor to pointer */
}

/* Change border color on focus */
.update-disease select:focus {
   border-color: rgb(101, 100, 100); /* Change border color on focus */
   outline: none; /* Remove default outline */
}

/* Option styling */
.update-disease select option {
   padding: 10px; /* Padding for options */
}

/* Hover effect for the select */
.update-disease select:hover {
   border-color: rgb(101, 100, 100); /* Change border color on hover */
}


