/* Main container styling */
.location-container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content to the top */
  padding-top: 20px; /* Add padding to push content slightly from the top */
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  background-image: url('../../assets/diseasebackground.png'); /* Path to the background image */
  background-size: cover; /* Make the image cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  box-sizing: border-box;
}

/* Heading styling */
.locationtopiccontainner-main h1 {
  color: #676363; /* Neutral black text color */
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 30px;
}

/* Navigation buttons container styling */
.locationtopiccontainner-2-main {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Disease actions container styling */
.location-actions-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Individual action button styling */
.location-action-main {
  background-color: #ffffff;
  color: #000000;
  padding: 15px 30px;
  margin: 10px 0;
  text-align: center;
  border: 1.5px solid #a9a9a9;
  border-radius: 3px;
  font-size: 1.2rem;
  text-decoration: none;
  width: 200px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for action buttons */
.location-action-main:hover {
  background-color: #f0f0f0;
  color: #000000;
}

/* Button text styling */
.location-action-main p {
  margin: 0;
}