.payment-form-container {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  max-width: 600px;
  margin: auto;
}

.payment-form-header {
  color: #ff5722;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.payment-method-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.payment-method-btn {
  background-color: #ffb74d;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.payment-method-btn:hover {
  background-color: #ffa726;
  transform: translateY(-2px);
}

.payment-method-btn.active {
  background-color: #f57c00;
}

.payment-form-table {
  width: 100%;
  margin-bottom: 15px;
}

.payment-form-label {
  font-weight: bold;
  color: #d84315;
}

.payment-form-input {
  border: 1px solid #ff7043;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s;
}

.payment-form-input:focus {
  border-color: #f57c00;
  outline: none;
}

.payment-form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.payment-form-button {
  background-color: #ffb74d;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px 18px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  flex: 1; /* Added flex to take equal space */
  margin-right: 10px; /* Margin added to the submit button for spacing */
  font-size: large;
}

.payment-form-button:hover {
  background-color: #ffa726;
  transform: translateY(-2px);
}

.cancel-btn {
  background-color: #d32f2f; /* Red color for cancel */
  padding: 12px 18px; /* Match size with submit button */
  flex: 1; /* Added flex to take equal space */
  margin-left: 10px;
}

.cancel-btn:hover {
  background-color: #c62828; /* Darker red on hover */
}

.notification {
  margin-top: 20px;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}

.notification.success {
  background-color: #c8e6c9; /* Light green for success */
  color: #2e7d32;
}

.notification.error {
  background-color: #ffcdd2; /* Light red for error */
  color: #c62828;
}
